<article class="detail-article">
  <h1 class="article-detail-title">
    <%= @article.title %>
  </h1>
  <div id="article-date">
    <div class="far fa-calendar-alt"></div>
    <%= @article.created_at.strftime("%b %d, %Y") %>
  </div>
  <div class="article-body"> 
    <%= @article.body %>
  </div> 
  <% if user_signed_in? && (current_user == @article.user) %>
    <div class="edit-delete mt-5">
      <%= link_to "Edit Article", edit_article_path(@article),
          class: "btn btn-primary btn-lg btn-space mr-5" %>
      <%= link_to "Delete Article", article_path(@article), method: :delete,
          class: "btn btn-danger btn-lg btn-space",
          data: { confirm: "Are you sure you want to delete the article?" } %>
    </div>
  <% end %>
</article>

<hr>

<div class="col-md-12">
  <%= form_for [@article, @comment], html: {class: ""} do |f| %>
    <% if @comment.errors.any? %>
      <div class="card border-danger">
        <div class="card-header">
          <strong>
            <%= pluralize(@comment.errors.count, "error") %>
            prohibited this comment from being saved:
          </strong>  
        </div>
        <div class="card-body text-danger">
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="form-group col-md-6">
      <%= f.label :body, 'New Comment' %>
      <%= f.text_area :body, class: "form-control", placeholder: "New comment", autofocus: true %>
    </div>

    <div>
      <%= f.submit 'Add Comment', class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>

<div class="col-md-12">
  <header><h2>Comments</h2></header>

  <div class="col-md-10">
    <% if persisted_comments(@comments).any? %>
      <% persisted_comments(@comments).each do |comment| %>
        <div class="comment-body">
          <%= comment.body %>
        </div>

        <div class="comment-time">
          <%= time_ago_in_words(comment.created_at) %>
          ago by
          <%= comment.user.email %>
        </div>
      <% end %>
    <% else %>
      Not comments yet
    <% end %>
  </div>
</div>
